# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production / Build
dist/
build/

# Misc
.DS_Store
*.local
Thumbs.db
*.log

# Environment variables
.env
.env.local
.env.*.local

# TypeScript / Vite
*.tsbuildinfo
vite.config.ts.timestamp-*